@import url('https://fonts.googleapis.com/css?family=Lato|Prata&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    transform: all 0.2s ease;
}
div{
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
    text-align: left;
}
h1{
    width: 100%;
    min-height: 9vh;
    font-size: 1.6rem;
    padding: 20px 20% 0 20%;
    align-self: center;
    margin: 0;
    border: solid cyan 2px;
}
/* 
The hompage container
 */
.home{
    width: 100%;
    height: auto;
    min-height: 100vh;
    border: solid rgb(153, 0, 255) 2px;
}

/* 
The landing page 
*/
.intro{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid red 2px;
    background-color: cyan;
}
.intro h1{
    width: 100%;
    height: 80px;
}
.intro .srch_bar{
    width: 60%;
    height: 80px;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    border: solid blue;
    padding: 10px;
}
.intro .srch_bar .srch{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    border: solid blue;
    padding-left: 5%;
    border-radius: 40px;
}
.intro .srch_bar .menu_cont{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    border: solid blue;
    border-radius: 40px;
    /* overflow: hidden; */
}
.intro .srch_bar .menu_cont .btn{
    width: 100%;
    height: 100%;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 40px;

  }
.intro .srch_bar .menu_cont .content{
    width: 100%;
    border: solid green 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.intro .srch_bar .menu_cont .content a{
    width: 100%;
    height: 40px;
    color: green;
    border: solid red 1px;
    text-decoration: none;
    display: block;
  }
.intro .srch_bar .srch_btn{
    /* flex-grow: 2; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: solid blue;
    border-radius: 40px;
    text-align: center;
}
/* 
A banner to quickly browse categories
 */
.browse{
    width: 100%;
    height: auto;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: solid red 2px;
}
.browse div{
    min-width: 200px;
    min-height: 200px;
    border: solid blue;
}

/* 
 A banner to quickly show popular
 customers on the platform
*/
.pop_posters{
    width: 100%;
    height: auto;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: solid red 2px;
}
.pop_posters div{
    min-width: 200px;
    min-height: 200px;
    border: solid blue;
}

/* 
The about the website section
 */

.about{
    width: 100%;
    height: auto;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    border: solid red 2px;
}
.about div{
    width: 40%;
    height: 40vh;
    border: solid blue 2px;
}
/* 
The testimonials section
 */
.tstmony{
    width: 100%;
    height: auto;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: solid red 2px;
}
.tstmony div{
    width: 80%;
    height: 40vh;
    border: solid blue 2px;
}

/* 
A banner showing some numbers produced by our platform
 */
.theNumbers{
    width: 100%;
    height: auto;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid red 2px;
}
.theNumbers div{
    width: 93%;
    height: 15vh;
    border: solid blue 2px;
}
/* 
About the creator(s) section
 */
.creators{
    width: 100%;
    height: auto;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid red 2px;
}
.creators div{
    width: 25%;
    height: 50vh;
    border: solid blue 2px;
}
