@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    transform: all 0.2s ease;
}
div{
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1{
    width: 100%;
    min-height: 9vh;
    font-size: 1.6rem;
    padding: 20px 20% 0 20%;
    align-self: center;
    margin: 0;
    /* border: solid cyan 2px; */
}
/* 
The hompage container
 */
.home{
    width: 100%;
    height: auto;
    min-height: 100vh;
    border: solid rgb(153, 0, 255) 2px;
}

/* 
The landing page 
*/
.intro{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid red 2px;
    background: url('../../static/SiteWideBgs/main_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.intro
h1{
    width: 100%;
    height: 80px;
}
.intro
.search_bar{
    width: 70%;
    max-width: 900px;
    height: 80px;
    display: flex;
    flex-direction: row;
    background: white;
    box-shadow: rgba(7, 7, 7, 0.445) 0px 4px 15px;
    border-radius: 40px;
    padding: 13px;
}
.intro 
.search_bar 
.search{
    flex-grow: 3;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    /* border-bottom: solid blue; */
    /* border-radius: 40px; */
}
.intro 
.search_bar
nav{
    flex-grow: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    /* border: solid blue 2px; */
}
.intro 
.search_bar
nav nav{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: solid rgb(0, 226, 11) 2px; */
}
.intro 
.search_bar
nav 
nav button{
    width: 100%;
    height: 100%;
    border: none;
    border-left: solid rgb(197, 197, 197) 2px;
    border-style: style;
    background: none;
    /* background: white; */
    /* border: solid rgb(0, 97, 161) 2px; */
}
.intro 
.search_bar
nav 
nav ul{
    position: relative;
    width: 100%;
    min-height: 200px;
    display: none;
    display: flex;
    flex-wrap: wrap;
    border: solid rgb(226, 0, 151) 2px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.1s ease;
}
.intro 
.search_bar
nav 
nav button:focus + ul, button{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
    border: solid green 2px;
    
}

.intro 
.search_bar
nav 
nav ul li{
    /* width: 100%; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    list-style: none;
    /* border: solid rgb(235, 231, 4) 2px; */
}
.intro 
.search_bar
nav 
nav ul li:hover{
    background: rgb(189, 175, 175);
}
/* 
A banner to quickly browse categories
 */
.browse{
    width: 100%;
    height: auto;
    min-height: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* border: solid red 2px; */
    background: white;
}
.browse div{
    width: 20vh;
    height: 20vh;
    background: url('../../static/SiteWideBgs/BreadFillerImg.jpeg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.521) 0 4px 10px;
    /* background: #00ADAB; */
    /* border: solid blue; */
    border-radius: 40px;
    margin: 0 20px 0 20px;

}

/* 
 A banner to quickly show popular
 customers on the platform
*/
.pop_posters{
    width: 100%;
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: rgb(240, 245, 245);
    /* border: solid red 2px; */
}
.pop_posters div{
    width: 40vh;
    min-width: 40px;
    height: 30vh;
    /* border: solid blue; */
    border-radius: 13px;
    background: url('../../static/SiteWideBgs/sobeysLogo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.329) 0 0 20px;
    margin: 10px 20px 10px 20px;
}

/* 
The about the website section
 */

.about{
    width: 100%;
    height: auto;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* border: solid red 2px; */
    background: url('../../static/SiteWideBgs/cropBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about div{
    width: 40%;
    height: 40vh;
    /* border: solid blue 2px; */
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.911);
    box-shadow: rgba(0, 0, 0, 0.425) 0 0 6px;
    /* margin: 0 0px 0 10px; */
}
.about #img{
    background: url('../../static//SiteWideBgs/aboutFillerImg.jpg');
    background-size: cover;
    background-position: center;
}
/* 
The testimonials section
 */
.tstmony{
    width: 100%;
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* border: solid red 2px; */
    background: rgb(240, 245, 245);
}
.tstmony div{
    width: 80%;
    height: 40vh;
    border: solid blue 2px;
}

/* 
A banner showing some numbers produced by our platform
 */
.theNumbers{
    width: 100%;
    height: auto;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: solid red 2px; */
}
.theNumbers div{
    width: 93%;
    height: 15vh;
    border: solid blue 2px;
}
/* 
About the creator(s) section
 */
.creators{
    width: 100%;
    height: auto;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* border: solid red 2px; */
}
.creators div{
    width: 25%;
    height: 50vh;
    border: solid blue 2px;
}
